.nav_wrapper {
    background-color: #fff;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    box-shadow: 0 0 8px 0 rgba(37, 37, 37, 0.589);
  }
  .nav_container {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
  .nav_wrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .cfd_icon {
    display: none;
  }
  
  .cfd_icon_mobile {
    height: 40px;
    margin-left: 1rem;
    display: inherit;
  }
  
  .nav_wrapper p {
    color: #00324e;
    font-size: 1.8vw;
    font-weight: normal;
    display: none;
    padding-right: 36px;
  }
  
  .nav_wrapper ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    margin-right: 1rem;
    padding: 0;
  }
  
  .nav_wrapper ul li {
    font-weight: bold;
    text-align: right;
  }
  
  
  @media (min-width: 769px) {
    .nav_wrapper p {
      display: inherit;
    }
    .cfd_icon {
      width: 10vw;
      display: inherit;
      margin-left: 3rem;
    }
    .cfd_icon_mobile {
      display: none;
    }
    .nav_wrapper ul {
      margin-right: 3rem;
    }
  }
  